html, body {
  background-color: grey;
}

/* *****************************css for header*************************************** */
header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(45deg,
     rgb(219, 214, 214), rgb(165, 144, 144),  rgb(114, 124, 110));
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;
}

header .new-weight {
  position: absolute;
  top: 0;
  height: 400px;
  width: 1px;
  z-index: -9999;
  /* opacity: 0; */
  transition: all 0.5s ease-in;
  
}

header.add-weight .new-weight {
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgb(170, 165, 165);
  /* opacity: 1; */
  transition: all 0.5s ease-out;

}

header .add,
.settings {
  cursor: pointer;
  position: absolute;
}

div.new-weight .form-input {
  width: 50%;
  margin: 0 auto;
}

div.new-weight .form-fields {
  margin-bottom: 30px;
}

div.new-weight .label {
  margin-bottom: 10px;
}

div.new-weight p {
  font-weight: bold;
}

.cancel-new-weight {
  position: absolute;
  top: 14px;
  left: 14px;
}

header ul {
  padding: 20px 0;
}

header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  
}

header a {
  text-decoration: none;
}

header .add {
  left: 10px;
}

header .settings {
  right: 10px;
}

main {
  padding: 20px 30px 30px 30px;
  background: linear-gradient(45deg,
     rgb(219, 214, 214), rgb(165, 144, 144),  rgb(114, 124, 110));
}

button {
  font-size: 18px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

body.weights-details main {
  padding: 20px 10px 30px 10px;
  
}
main h1 {
  font-size: 1.5em;
}

form {
  padding: 10px;
}

main .form-fields {
  margin-bottom: 20px;
}

main .form-fields .label {
  margin-bottom: 5px;
}

.form-input input:not([type="radio"]) {
  width: 98.5%;
  height: 25px;
}


.create-user .cancel-button {
  margin-left: 48px;
}

/* *********************************Media queries**************************************************** */
@media only screen and (min-width: 365px) {
  .create-user .cancel-button {
    margin-left: 124px;
  }
}

@media only screen and (min-width: 381px) {
  .create-user .cancel-button {
    margin-left: 137px;
  }
}

@media only screen and (min-width: 400px) {
  header ul {
    padding: 0;
  }
  
  main {
    width: 309px;
    margin: 0 auto;
  }

  .create-user .cancel-button {
    margin-left: 155px;
  }
}

@media only screen and (min-width: 500px) {
  main {
    width: 411px;
  }

  .create-user .cancel-button {
    margin-left: 257px;
  }
}

/* *******************************css for weight details page*************************************** */
main .weights h2 {
  font-size: 1em;
}

.weights, .current-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.weights .weight-summaries,
.current-summary div {
  background-color: rgb(202, 193, 193);
  padding: 6px 12px;
  border-radius: 5px;
}

/* *********************************Media queries**************************************************** */
@media only screen and (max-width: 318px) {
  .weights .weight-summaries,
  .current-summary div {
    padding: 8px 32px;
    margin-bottom: 10px;
  }

}

@media only screen and (min-width: 350px) {
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 8px 16px;
  }

}

@media only screen and (min-width: 500px) {
  body.weights-details main {
    padding: 20px 30px 30px 30px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);

    padding: 10px 30px;
}

}

@media only screen and (min-width: 576px) {
  body.weights-details main {
    width: 500px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 15px 45px;
  }

}

@media only screen and (min-width: 768px) {
  body.weights-details main {
    width: 650px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 25px 70px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    width: 80%;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 25px 70px;
}

}