html, body {
  background-color: grey;
}
header {
  text-align: center;
}

main {
  padding: 20px 30px 30px 30px;
  background-color: rgb(219, 214, 214);
}

body.weights-details main {
  padding: 20px 10px 30px 10px;
}
main h1 {
  font-size: 1.5em;
}

main .form-fields {
  margin-bottom: 20px;
}

main .form-fields .label {
  margin-bottom: 5px;
}

/* *******************************css for weight details page*************************************** */
main .weights h2 {
  font-size: 1em;
}

.weights, .current-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.weights .weight-summaries,
.current-summary div {
  background-color: rgb(202, 193, 193);
  padding: 12px;
}