html, body {
  background-color: grey;
}
header {
  text-align: center;
}

main {
  padding: 20px 30px 30px 30px;
  background-color: rgb(219, 214, 214);
}

body.weights-details main {
  padding: 20px 10px 30px 10px;
}
main h1 {
  font-size: 1.5em;
}

main .form-fields {
  margin-bottom: 20px;
}

main .form-fields .label {
  margin-bottom: 5px;
}

.form-input input {
  width: 100%;
}

/* *********************************Media queries**************************************************** */
@media only screen and (min-width: 400px) {
  main {
    width: 309px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 500px) {
  main {
    width: 411px;
  }
}

/* *******************************css for weight details page*************************************** */
main .weights h2 {
  font-size: 1em;
}

.weights, .current-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.weights .weight-summaries,
.current-summary div {
  background-color: rgb(202, 193, 193);
  padding: 12px;
}

/* *********************************Media queries**************************************************** */
@media only screen and (min-width: 350px) {
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 16px;
  }

}

@media only screen and (min-width: 500px) {
  body.weights-details main {
    padding: 20px 30px 30px 30px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);

    padding: 30px;
}

}

@media only screen and (min-width: 576px) {
  body.weights-details main {
    width: 500px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 45px;
  }

}

@media only screen and (min-width: 768px) {
  body.weights-details main {
    width: 650px;
  }
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 70px;
  }
}

@media only screen and (min-width: 992px) {
  .weights .weight-summaries,
  .current-summary div {
    background-color: rgb(202, 193, 193);
    padding: 70px;
}

}